*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(reg2.jpg);
	background-size: cover;
}

.Regi{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(0, 0, 0, 0.5);
	width: 460px;
	padding: 20px 30px;
	border-radius: 30px;
}

h1{
	text-align: center;
	justify-content: center;
	color: #fff;
	font-size: 35px;
	border-bottom: 2px solid #fff;
	width: 240px;
	margin-left: 100px;
	margin-bottom: 30px;
}

p{
	font-size: 25px;
	margin-top: 10px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;
}

input{
	width: 80%;
	padding: 10px;
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 2px solid #fff;
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}

input[type="submit"]
{
	background-color: skyblue;
	color: #000;
	margin: 14px 0;
	border-bottom: 0;
	font-size: 25px;
	font-weight: 700;
	border-radius: 30px;
	width: 50%;
	margin-left: 100px;
}

input[type="submit"]:hover{
	background-color: #fff;
	color: #000;
}